<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
  {{> main}}
  <form enctype="application/json" action="/auth/login" method="POST">
    <br>
    
        <div >
          Iniciar Sesi칩n
        </div>
        <div >
          <div>
            <div class="col-auto">
              <label for="email" >Email: </label>
              <input type="email"  name="username" id="email" placeholder="Correo Electr칩nico"
                aria-labelledby="passwordHelpInline">
              {{#each messages}}
              {{#if email}}
              <label for="email">{{email}}</label>
              {{/if}}
              {{/each}}
            </div>
            <div class="col-auto">
              <label for="password" >Password: </label>
              <input type="text"  name="password" id="password" placeholder="Contrase침a"
                aria-labelledby="passwordHelpInline">
              {{#each messages}}
              {{#if password}}
              <label for="password" >{{password}}</label>
              {{/if}}
              {{/each}}
            </div>
            {{#each messages}}
            {{#if everyone}}
            <label>{{everyone}}</label>
            {{/if}}
            {{/each}}
          </div>
        </div>
      
          <input type="submit"  value="Iniciar sesi칩n">
   
      </div>
    </div>
  </form>
</body>
</html>