h1.titulo {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
}

@media (min-width: 450px) {
    h1.titulo {
        font-size: 3.55em;
    }
}

@media (min-width: 760px) {
    h1.titulo {
        font-size: 3.05em;
    }
}

@media (min-width: 900px) {
    h1.titulo {
        font-size: 3.25em;
        margin: 0 0 0.3em;
    }
}