<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>App</title>
  {{> importaciones}}
</head>
<body>
  {{> main}}

 
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Nueva PC</h5>
            <form id="miFormulario" enctype="multipart/form-data" action="" method="post">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre">
                {{#each nombre}}
                {{#if nombre}}
                <div class="alert alert-danger">{{nombre}}</div>
                {{/if}}
                {{/each}}
              </div>
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" name="descripcion"
                  placeholder="Describe cada uno de los componentes aquí" id="descripcion"></textarea>
                {{#each message}}
                {{#if descripcion}}
                <div class="alert alert-danger">{{descripcion}}</div>
                {{/if}}
                {{/each}}
              </div>
              <div class="mb-3 text-center">
                <div class="">
                  <img id="output" class="rounded mb-3" width="300px" height="auto">
                </div>
                <label for="file" class="form-label btn btn-success ms-3">Cargar imagen</i></label>
                <input type="file" name="file" id="file" class="form-control" onchange="loadFile(event)"
                  style="display: none;">
                {{#each message}}
                {{#if file}}
                {{#each file}}
                <div class="alert alert-danger">{{this}}</div>
                {{/each}}
                {{/if}}
                {{/each}}
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="subir" type="submit" class="btn btn-dark" title="Subir PC">Guardar</button>
                <a href="/" class="btn btn-dark" title="Cancelar">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   <script>
var formulario = document.getElementById("miFormulario");

// Agregar un event listener para el evento 'submit' al formulario, que llame a la función handleSubmit
formulario.addEventListener("submit", handleSubmit);



function handleSubmit(event) {
   event.preventDefault();  
   Swal.fire({
  title: "¿Estás seguro esta acción subirá una nueva computadora?",
  text:'En caso de ser válida, se redigirá al menú general de las computadoras',
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "Aceptar",
  cancelButtonText:"Cancelar"
}).then((result) => {
  if (result.isConfirmed) {
  event.target.submit();
  }
});

  console.log("Se hizo clic en el botón");
}

// Obtener el botón por su id





  </script>
</body>
</html>